$defaultFont: Roboto, sans-serif;

@use "vuetify" with (
    $body-font-family: $defaultFont
);

@mixin btn($color, $bg-color) {
    @extend .font-weight-bold;
    @extend .text-subtitle-1;
    padding: 25px 0px;
    font-size: 1.1em;
    color: rgb(var($color));
    background: rgb(var($bg-color));
}

.black-btn {    
    @include btn(--v-theme-paletteWhite, --v-theme-paletteBlack)
}

.blue-btn {
    @include btn(--v-theme-paletteWhite, --v-theme-paletteBlue)
}

.red-btn {
    @include btn(--v-theme-paletteWhite, --v-theme-paletteRed)
}

.main-title {
    font-size: 1.8em;
}
